@import "variables";
@import "navbar";
@import "footer";

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* Inicio body */
body {
  background-color: #0e0f14;

  padding-bottom: 3em;
  height: 100vh;

}
/* fin body */


/* inicio container flex */
.container-flex {
  display: flex;
  justify-content: space-around;
  padding-top: 13%;
  align-items: center;
  gap: 10%;

}
/* fin container */
.container-flex h1 {
  color: #fff;
  font-size: 50px;
  padding-bottom: 20px;
}

.container-flex h1::after {
  content: "";
  display: block;
  width: 125%;
  height: 7px;
  background: linear-gradient(to left, #1446D4, #10BEFF);
}
/* inicio img */
.img__movimiento {

  width: 600px;
}
/* fin img */
.container__texto {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.container__texto a {

  border: solid 2px #111;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;

}

/* inicio container texto */
.container__texto a:hover {
  background: linear-gradient(to left, #1446D4, #10BEFF);
  color: #0e0f14;
}
/* fin container texto */
.text_main {
  padding-top: 92px;
  text-align: center;
  color: #fff;
}

.text_main-2 {
  text-align: center;
  color: #fff;

}
/* inicio card */


/* fin card */
.container-fluid {
  display: flex;
  justify-content: space-between;
}


.formulario {
  padding-top: 5%;

}
/* inciio main */
.div__main {
  border: 3px solid $background-1;
  width: 80%;
  border-radius: 20px;
  background: rgb(27, 27, 27);
  margin: auto;
}
/* fin main */

.letrasContacto {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

label {
  @extend .letrasContacto;
}
/* inicio formulario */
.formulario input {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  margin: auto;
  padding-top: 10px;
}
/* fin formulario */

input {
  padding-top: 30px;
  width: 80%;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
  font-size: 18px;
}

p {
  padding-top: 70px;
}


/* inicio d/flez */
.d-flex {
  justify-content: space-evenly;
}
/* fin d/flex */
.flex-2 {
  padding-top: 150px;
}

/* inicio boton */
.boton__mainContact {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
/* fin boton */
.boton__mainContact input {
  background-color: #10BEFF;
  border-radius: 20px;
  text-decoration: none;
  color: $background-2;
  font-size: 20px;
  width: 20%;
  padding-bottom: 40px;
  

}

/* inicio texto */
.text__input {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
/* fin texto */
a {
  color: #10BEFF;

}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
  gap: 15px;
  margin-bottom: 3%;
}

.img__center img {

  width: 500px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* inicio img */
.img_carousel{
  height: 530px;
  width: 55%;
}

/* fin img */
.div__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;


}

.img_gobernato{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
  
}

.img_gobernato img{
  width: 900px;
  border-radius: 10px;
}


/* inicio container */
.div__container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* FIN CONTAINER */
.text-format {

  
  @extend .h4_main;
}

.container img {
  margin-top: 15% !important;
}
/* inicio texto */
.text__nosotros {
  width: 40%;
  border: solid 2px #10BEFF;
  padding: 20px;
  background-color: rgb(31, 30, 30);
  color: #000000;
}

.container-fluid-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
padding-top: 70px;
  margin-bottom: 2%;
}
/* INICIO H4 */

.h4_main {
  padding-top: 30px;
  padding-bottom: 20px;
  border: 2px solid black;
  background-color: rgb(63, 62, 62);
  color: #fff;
  border-radius: 10px;
  margin: 10px;
}
/* fin h4 */


.heigth_alt{
  height: 256px;
  width: 300px;
}


.text_main-p{
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  background-color: rgb(63, 62, 62);
  border: 2px solid black;
margin: 20px;
}




@media (max-width:1024px) {

  .container-flex h1 {
    font-size: 40px;
  }

  .container__avion--img {
    width: 500px;
  }



}



@media screen and (min-width:768px) and (max-width:1023px) {

  .container-flex {
    display: flex;
    flex-direction: column;

  }

  .container-flex h1 {
    font-size: 30px;
  }

  .row {
    display: flex;
    flex-direction: column-reverse;


  }

  .img__center img {
    width: 400px;
    padding-top: 0px;
 
  }

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

    .img_gobernato{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

      .img_gobernato img{
        width: 600px;
      }

}

@media screen and (min-width:320px) and (max-width:768px) {

  .container-flex h1 {
    font-size: 35px;
  }

  
  .container-flex {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
  }

  .container__avion--img {
    display: none;
  }

  .container-flex h1::after {
    width: 110%;
  }

  .row {
    display: flex;
    flex-direction: column-reverse;


  }

  .img__center img {
    width: 360px;
    padding-top: 0px;
  }

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .flex-2 {
    padding-top: 0px;
    margin-top: 3%;
  }

  .container-fluid-2{
   display: flex;
    flex-wrap: wrap;
  }

.img_carousel{
  width: 346px;
  height: 300px;
}
.img_gobernato{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

  .img_gobernato img{
    width: 310px;
  }


  .text_main-p {
    width: 90%;
  }

}