/* fin texto */
.footer_main {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2em 0;
  }
  
  /* inicio footer */
  .footer_main_forzar {
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-top: 3%;
  }
  /* fin footer */